link(rel='stylesheet', href='/css/bootstrap.min.css')
link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
script(src='/js/jquery-3.2.1.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/global.js')