html
    head
        title Dashboard
        link(rel='stylesheet', href='/css/dashboard.css')
        script(src='https://maps.googleapis.com/maps/api/js?libraries=places,drawing&key=AIzaSyDK4wSHzyqJ0xctjnM6OFEoRIAd5fMa2qM')
        script(src='/js/socket.js')
        include includes/header
    body
        div#map
    script.
        var user = !{JSON.stringify(user)};
    script(src='/js/dashboard.js')

