body{
    background: url(/images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.login-container{
    margin-top: 12em;
}
.login-inputs-div{
    padding: 15px;
}
.login-main-div{
    padding: 15px;
    background-color: rgba(195, 192, 192, 0.78);
}
.login-main-div legend{
    color: #414751;
}
.login-main-div button{
    border-radius: 0;
    background-color: #ff3c36;
    color: #fff;
    width: 100px;
}